/* css variables*/
:root {
  --light-gray-color: #C6CBD1;
  --medium-gray-color: #959DA5;
  --dark-gray-color: #444D56;
  --white-color: #FAFBFC;

  --primary-color-dark1: #235689;
  --primary-color-dark2: #1f4c7a;
  --primary-color-dark3: #1b436b;
  --primary-color-dark4: #17395b;
  --primary-color-dark5: #13304c;
  --primary-color-light1: #3c6fa3;
  --primary-color-light2: #527fad;
  --primary-color-light3: #678fb7;
  --primary-color-light4: #7d9fc1;
  --primary-color-light5: #93afcc;
  --primary-color: #276099;
  --secondary-color: #7c7b6f;

  --accent-color-dark: #2196f3;
  --accent-color-light: #2196f3;
  --accent-color: #2196f3;
  --copyright-color: #ededed;
  --footer-color: #b0b0b0;

  --menu-a-color:var(--white-color);
  --menu-active-color:var(--white-color);
  --menu-ul-color:var(--white-color);

  --bg-color: #23231f;
  --code-bg-color: #F0E8E8;
  --copyright-bg-color: var(--primary-color-dark4);
  --footer-bg-color: var(--primary-color-dark2);
  --hero-bg-color: var(--secondary-color);
  --nav-bg-color: var(--primary-color);
  --wrapper-bg-color:var(--bg-color);
}

/* normalized */
html, body {
  background-color: var(--bg-color);
  color: var(--white-color);
  font-family: 'Roboto', 'Nunito Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

p, ul {
  font-weight: 300;
  color: var(--white-color);
}

a, a:hover {
  text-decoration: none;
  color: var(--accent-color);
}

hr {
  padding: 1rem 0;
  border: 0;
  border-bottom: 1px solid var(--bg-color);
}

* {
  box-sizing: border-box;
}

/* global components */

/* typography */
.section__title {
  color: var(--primary-color);
}

/* tabs */
.tab__container {
  position: relative;
}

.tab__container > ul {
  position: absolute;
  list-style: none;
  margin: 0;
  right: 1rem;
  top: -2rem;
  padding-left: 0;
}

.tab__container .code {
  white-space: normal;
  padding: 1rem 1.5rem;
}

.tab {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  font-weight: 200;
  cursor: pointer;
}

.tab.active {
  border-bottom: 1px solid var(--primary-color);
  font-weight: 700;
  display: inline-block;
}

.tab__pane {
  display: none;
}

.tab__pane.active {
  display: block;
}

/* code */
.code {
  border-radius: 3px;
  font-family: Space Mono, SFMono-Regular, Menlo,Monaco, Consolas, Liberation Mono, Courier New, monospace;
  background: var(--bg-color);
  border: 1px solid var(--code-bg-color);
  color: var(--primary-color-light1);
}

.code--block {
  white-space: pre-line;
  padding: 0 1.5rem;
}

.code--inline {
  padding: 3px 6px;
  font-size: 80%;
}

/* buttons */
.button--primary {
  padding: 10px 22px;
  background-color: var(--accent-color);
  color: var(--white-color);
  position: relative;
  text-decoration: none;
  border: 0;
  transition: all .3s ease-out;
}

.button--primary:after {
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: var(--accent-color-light);
  right: -0.4rem;
  top: -0.4rem;
  transition: all 0.3s ease-out;
}

.button--primary:hover {
  text-shadow: 0px 1px 1px var(--accent-color-dark);
  color: var(--white-color);
  transform: translate3D(0, -3px, 0);
}

.button--primary:hover::after {
  transform: rotate(90deg);
}

.button--secondary {
  padding: 10px 22px;
  border: 2px solid var(--primary-color);
  transition: all 0.5s ease-out;
}

.button--secondary:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/* links */
.link {
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.link:hover {
  color: var(--accent-color);
}

.link--dark {
  color: var(--primary-color);
}

.link--light {
  color: var(--accent-color);
}

/* menu */
.nav-logo {
  height: -moz-fit-content;
  height: fit-content;
  padding: 1em;
  width: -moz-fit-content;
  width: fit-content;
}

.nav-logo object {
  height: auto;
  width: 50%;
}

.nav-spacer {
  flex-grow: 1 !important;
}

.nav-title {
  flex-grow: 1;
}

.nav-title h1 {
  font-size: 3em;
  margin: 0.5em;
  width: -moz-fit-content;
  width: fit-content;
}

nav {
  background-color: var(--nav-bg-color);
  color: var(--white-color);
  display: flex;
  flex: 1 1 100%;
  grid-template-columns: 70px auto;
  max-height: 155px;
  padding: 1em;
  width: 100%;
}

/** MENU */

.nav-menu {
  flex: 0 0 50%;
  max-width: 50%;
  margin: 0;
  text-align: right;
  overflow: hidden;
  list-style: none;
  padding: 0 0 0 0;
}

.nav-menu ul {
  float: right;
  list-style: none;
  line-height: normal;
  display: block;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.0em;
  font-weight: 600;
  color: var(--menu-ul-color);
}

.nav-menu li {
  display: inline-block;
  margin-left: 0.5em;
  padding: 0.5em 0.75em;
}

.nav-menu a {
  text-decoration: none;
  color: var(--menu-a-color);
}

.nav-menu .active
{
  background: var(--accent-color);
  border-radius: 5px;
  color: var(--menu-active-color);
}

.nav-menu a:hover {
  text-decoration: underline;
}


.toggle {
  display: none;
  position: relative;
}

.toggle span,
.toggle span:before,
.toggle span:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 2px;
  background: var(--primary-color);
  display: block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  right: 0;
}


/* table */
table {
  border-collapse: collapse;
  width: 100%;
  transition: color .3s ease-out;
  margin-bottom: 2rem;
}

table td, table th {
  border: 1px solid var(--code-bg-color);
  padding: 0.8rem;
  font-weight: 300;
}

table th {
  text-align: left;
  background-color: var(--white-color);
  border-color: var(--white-color);
  border-bottom-color: var(--code-bg-color);
}

table td:first-child {
  background-color: var(--bg-color);
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  nav {
    grid-template-columns: 70px auto;
  }

  .menu__item{
    display: none;
  }

  .menu__item.toggle {
    display: inline-block;
  }

  .menu {
    text-align: right;
    padding: 0.5rem 1rem;
  }

  .toggle {
    display: block;
  }

  .menu.responsive .menu__item:not(:first-child) {
    display: block;
    padding: 0 0 0.5rem 0;
  }
}

/* layout */
.wrapper {
  background-color: var(--wrapper-bg-color);
  border-radius: 10px 10px 0px 0px;
  margin: 0 auto;
  padding: 2em;
  width: 70%;
}

#footer {
  background-color: var(--footer-bg-color);
  color:var(--white-color);
  flex: 1 0 auto;
  flex-shrink: 0;
  margin: 0 auto 0 auto;
  max-height: 400px;
  overflow: hidden;
  padding: 2em;
  width: 100%
}

#footer h2 {
  color: var(--footer-color)
}

#footer a {
  color: var(--footer-color);
}

#footer p {
    color: var(--footer-color);
}

#footer #fbox1 {
  float: left;
  width: 30%;
  margin-right: 60px;
}

#footer #fbox1 ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#footer #fbox1 ul li {
  padding: 10px 0px 20px 0px;
}

#footer #fbox1 #first {
  padding-top: 0px;
  border-top: none;
}

#footer #fbox2 {
  float: right;
  width: 30%;
}

#footer #fbox2 ul {
  margin: 30px 0px 0px 0px;
  padding: 0px;
  list-style: none;
}

#footer #fbox2 ul li {
  float: left;
  margin-right: 10px;
}

#footer #fbox3 {
  float: right;
  width: 30%;
}

.copyright p {
  color: var(--copyright-color);
  text-align: center;
}

.copyright a {
  color: var(--copyright-color);
}

#copyright-div {
  background-color: var(--copyright-bg-color);
  color: var(--medium-gray-color);
  flex: 1 0 auto;
  flex-shrink: 0;
  font-size: small;
  margin: 0 auto 0 auto;
  overflow: hidden;
  padding: 2em;
  width: 100%
}

#copyright-div p {
  color: var(--medium-gray-color);
  text-align: center;
}

#copyright-div a {
  color: var(--medium-gray-color);
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translate3d(0,30px,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}